@import './variables.scss';

@keyframes rotatePanel {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(360deg);}
}

.banner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    transform: translate(-50%, 50%);
    transform-style: preserve-3d;
    &__btn {
        position: inherit;
        padding: 2px 5px;
        top: 150%;
        left: 125px;
        width: 50px;
        transform-style: preserve-3d;
        transform: perspective($perspective) translateZ(70px);
    }
}
.banner {
    position: relative;
    font-size: 150%;
    text-wrap: nowrap;
    transform-style: preserve-3d;
    transform: perspective($perspective) translateZ(75px);
    display: flex;
    height: 50px;
    border-radius: 20px;
    $width: 3px;
    &__panel {
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        width: $width;
        overflow: hidden;
        @for $i from 0 to 100 {
            &:nth-child(#{$i + 1}) {
                --left: #{$width * $i * -1};
                animation-delay: #{0.01s * $i};
            }
        }
        span {
            position: absolute;
            left: var(--left);
        }
    }
    &--rotate {
        animation: rotatePanel 0.5s forwards;
    }
}

@media screen and (max-width: 767px) {

    .banner-container {
        top: 35%;
    }

    .banner {
        transform: perspective($perspective-sm) translateZ(75PX);
    }
}