@import './variables.scss';
.card {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(var(--rotatex)) rotateY(var(--rotatey));
    transition: transform 0.2s linear;
    &__glass {
        height: 100%;
        border-radius: 60px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0));
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.7);
    }
    &__text-top,
    &__text-bot {
        font-size: 125%;
        text-align: center;
        position: absolute;
        left: 50%;
        transform-style: preserve-3d;
        transform: translate(-50%, 50%) perspective($perspective) translateZ(100px);
        h1 {
            transition: opacity 0.2s;
        }
    }    
    &__text-top {
        top: 15%;
    }    
    &__text-bot {
        top: 75%;
        width: 100%;
    }
    &__menu {
        display: flex;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, 50%) perspective($perspective) translateZ(65px);
        padding: 7px 10px;
        border-radius: 10px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        border: 2px solid rgba(255, 255, 255, 0.2);
        transform-style: preserve-3d;
    }
    &__banner {
        position: absolute;
        left: 50%;
        top: 30%;
        width: max-content;
        transform: translate(-50%, 50%);
        transform-style: preserve-3d;
    }
    &--ofuscate {
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }
    @media screen and (orientation: portrait) {
        width: 90vw;
        height: 90vw;
    }
    @media screen and (orientation: landscape) {
        height: 90svh;
        width: 90svh;
    }
    @media screen and (max-width: $screen-sm) {
        &__text-top,
        &__text-bot {
            font-size: 150%;
            transform: translate(-50%, 50%) perspective($perspective-sm) translateZ(30px);
        }
        &__text-top {
            top: -27%;
        }    
        &__text-bot {
            top: 100%;
            width: 90%;
        }
        &__banner {
            top: 10%;
            button {
                transform: perspective($perspective-sm) translateZ(50px);
                top: 120%;
            }
            &__btn {
                left: 125px;
                width: 50px;
            }
            &__parallax-btn {
                left: 75%;
            }
        }
        &__menu {
            top: 24%;
            height: 145px;
            transform: translate(-50%, 50%) perspective($perspective-sm) translateZ(35px) scale(0.7);
        }
    }
}