.container {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.body {
    background-image: url(../images/background2.png);
    background-size: cover;
    background-position: center;
}