@import './variables.scss';

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.25);
    padding: 2px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transform: translateZ(5px);
}

.switch-btn {
    cursor: pointer;
    position: relative;
    height: 20px;
    width: 60px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
    &__text {
        font-size: 18px;
        width: 60px;
        text-align: center;
    }
    &__toggler {
        position: absolute;
        top: 1px;
        height: 16px;
        width: 16px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.9);
        background-color: rgba(255, 255, 255, 0.7);
        transition: 0.3s ease-out;
        left: 1px;
    }
    &--on {
        transition: 0.3s ease-out;
        background-color: rgba(0, 128, 0, 0.8);
        .switch-btn__toggler {
            left: 41px;
        }
    }
    &--off {
        transition: 0.3s ease-out;
        background-color: rgba(255, 0, 0, 0.3);
    }
    &--reg {
        background-color: transparent;
        .switch-btn__toggler {
            left: 41px;
        }
    }
    &--prog {
        background-color: transparent;
    }
}

@media screen and (max-width: $screen-sm) {
    .btn-container {
        height: max-content;
        margin: auto 0;
    }
    .switch-btn {
        margin: 6px 2px;
        height: 32px;
        &__toggler {
            margin-top: 0.5px;
            height: 28px;
        }
    }
}