@import './variables.scss';
.ticket {
    display: flex;
    height: 60px;
    align-items: center;
    transform-style: preserve-3d;
    &__text {
        text-align: center;
        white-space: nowrap;
        margin: 0 15px;
        transform: translateZ(10px);
    }
    &__num {
        font-size: 150%;
        background-color: white;
        padding: 3px;
        border-radius: 3px;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 2px;
        transform: translateZ(3px);
        button {
            cursor: pointer;
            margin: 2px 2px;
            font-size: 125%;
            width: 24px;
            height: 24px;
            border-radius: 12px;
            border: 1px solid black;
            background-color: transparent;
            &:active {
                transform: scale(0.95);
                border-style: inset;
            }
        }
    }
    &__reserva {
        cursor: pointer;
        margin: 0 5px;
        padding: 5px 7px;
        background-color: rgba(0, 255, 0, 0.1);
        border: 2px outset rgba(0, 0, 0, 0.5);
        &:hover {
            background-color: rgba(0, 255, 0, 0.3);
        }
        &:active {
            border-style: inset;
            background-color: rgba(0, 255, 0, 0.5);
        }
    }
    @media screen and (max-width: $screen-sm) {
        flex-wrap: wrap;
        &__text {
            font-size: 150%;
            margin: 5px 15px 0;
        }
        &__num {
            font-size: 200%;
            margin-left: 25px;
        }
        &__btn {
            margin: 7px 4px;
            button {
                font-size: 175%;
                width: 38px;
                height: 38px;
                border-radius: 19px;
            }
        }
        &__reserva {
            font-size: 175%;
            width: 55%;
            height: 80%;
        }
    }
}
